
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://gov.uk/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://gov.uk/education">Education, training and skills</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Running and managing a school</a>
    </li>
  </ol>
</div>
<br>
<br>
<span class="govuk-caption-xl">Collection<span>
      <h1 class="govuk-heading-xl">
        Get help with technology for your school or college V2 content
        <div class="govuk-!-padding-bottom-8"></div>
      <p class="gem-c-lead-paragraph govuk-!-font-size-24">
        Information, services and guidance to help your school or college offer high-quality IT services and digital equipment.
        <br>
        <br>
<div class="govuk-!-padding-bottom-6"><hr class="govuk-section-break govuk-section-break--visible"></div>

<p>From: <a href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
<div class="govuk-!-padding-bottom-6"></div>

<p class="govuk-body govuk-!-font-size-19"<a id="contents-list">Contents:</p>
<ul class="govuk-list govuk-list--dashed">
  <li><a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#check-if-your-school-meets-technology-standards" data-track-options="{&quot;dimension29&quot;:&quot;Check if your school meets technology standards&quot;}" href="#check-if-your-school-meets-technology-standards">Check if your school meets technology standards</a></li>
  <li><a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#get-support-from-other-schools" data-track-options="{&quot;dimension29&quot;:&quot;Get support from other schools&quot;}" href="#get-support-from-other-schools">Get support from other schools</a></li>
  <li><a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#develop-your-technology-strategy" data-track-options="{&quot;dimension29&quot;:&quot;Develop your technology strategy&quot;}" href="#develop-your-technology-strategy">Develop your technology strategy</a></li>
  <li><a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#how-to-buy-ict-and-computer-hardware" data-track-options="{&quot;dimension29&quot;:&quot;How to buy ICT and computer hardware&quot;}" href="#how-to-buy-ict-and-computer-hardware">How to buy ICT and computer hardware</a></li>
  <li><a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#choose-a-framework-or-a-leasing-or-subscription-service" data-track-options="{&quot;dimension29&quot;:&quot;Choose a framework or a leasing or subscription service&quot;}" href="#choose-a-framework-or-a-leasing-or-subscription-service">Choose a framework or a leasing or subscription service</a></li>
  <li><a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#keep-your-network-and-infrastructure-up-to-date" data-track-options="{&quot;dimension29&quot;:&quot;Keep your network and infrastructure up to date&quot;}" href="#keep-your-network-and-infrastructure-up-to-date">Keep your network and infrastructure up to date</a></li>
  <li><a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#set-up-and-maintain-your-technology" data-track-options="{&quot;dimension29&quot;:&quot;Set up and maintain your technology&quot;}" href="#set-up-and-maintain-your-technology">Set up and maintain your technology</a></li>
  <li><a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="#keep-your-school-safe-online" data-track-options="{&quot;dimension29&quot;:&quot;Keep your school safe online&quot;}" href="#keep-your-school-safe-online">Keep your school safe online</a></li>
</ul>
<br>
<p class="govuk-body">You should use the resources on this page to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>check if your ICT setup meets the Department for Education standards</li>
  <li>get guidance and support from other schools</li>
  <li>develop a technology strategy for your school or college</li>
  <li>buy, set up and maintain equipment</li>
  <li>keep your school safe online</li>
</ul>

<h1 class="govuk-heading-m"<a id="check-if-your-school-meets-technology-standards">Check if your school meets technology standards</h1>
<p>Use this guide to check if your school or college meets the Department for Educations technology standards.</p>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/guidance/digital-standards-for-schools-draft" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Meeting digital and technology standards in schools and colleges</a>
<br>
<br>
<br>
<h1 class="govuk-heading-m"<a id="get-support-from-other-schools">Get support from other schools</h1>
<p>Demonstrator schools and colleges have shown they can use technology effectively. They help others to do the same.</p>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/government/publications/edtech-demonstrator-schools-and-colleges-successful-applicants/about-the-programme" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">EdTech demonstrator schools and colleges: about the programme</a>
<span class="govuk-caption-m govuk-!-font-size-14">14 December 2021</span>
<br>
<br>
<h1 class="govuk-heading-m"<a id="develop-your-technology-strategy">Develop your technology strategy</h1>
<p>You can find information here to help support the development of your technology strategy.<br>
  <br>
When developing your technology strategy you should also consider <a href="https://get-help-with-tech.education.gov.uk/EdTech-demonstrator-programme">training and support for remote and face-to-face education.</a>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/government/publications/realising-the-potential-of-technology-in-education" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Realising the potential of technology in education</a>
<span class="govuk-caption-m govuk-!-font-size-14">3 April 2019 - Policy paper</span>
<br>
<br>
<h1 class="govuk-heading-m"<a id="how-to-buy-ict-and-computer-hardware">How to buy ICT and computer hardware</h1>
<p>A step by step guide to buying ICT and computer hardware for your school.</p>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/guidance/buying-for-schools/ict-and-computer-hardware" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">ICT and computer hardware</a>
<span class="govuk-caption-m govuk-!-font-size-14">1 July 2019</span>
<br>
<br>
<h1 class="govuk-heading-m"<a id="choose-a-framework-or-a-leasing-or-subscription-service">Choose a framework or a leasing or subscription service</h1>
<p class="govuk-body">Advice on how to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>find a quality-checked framework</li>
  <li>choose a leasing or subscription service for school hardware</li>
</ul>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/guidance/find-a-dfe-approved-framework-for-your-school" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Find a DfE-approved framework for your school</a>
<span class="govuk-caption-m govuk-!-font-size-14">5 January 2022 - Guidance</span>
<br>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/government/publications/school-procurement-buying-a-multi-functional-device-mfd" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Leasing and subscription services for school equipment</a>
<span class="govuk-caption-m govuk-!-font-size-14">20 January 2017 - Guidance</span>
<br>
<br>
<h1 class="govuk-heading-m"<a id="keep-your-network-and-infrastructure-up-to-date">Keep your network and infrastructure up to date</h1>
<p>Find out more about choosing technology for your school.</p>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/government/publications/choosing-the-right-broadband-for-your-school" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Choosing the right broadband for your school</a>
<span class="govuk-caption-m govuk-!-font-size-14">3 April - Guidance</span>
<br>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/government/publications/school-procurement-selecting-a-school-mis" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">School procurement: selecting a school MIS</a>
<span class="govuk-caption-m govuk-!-font-size-14">20 March - Guidance</span>
<br>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/government/publications/assessing-your-school-ict-infrastructure" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Assessing your school ICT infrastructure</a>
<span class="govuk-caption-m govuk-!-font-size-14">3 April 2019 - Guidance</span>
<br>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/government/publications/moving-your-school-to-the-cloud" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Moving your school to the cloud</a>
<span class="govuk-caption-m govuk-!-font-size-14">3 April 2019 - Guidance</span>
<br>
<br>
<h1 class="govuk-heading-m"<a id="set-up-and-maintain-your-technology">Set up and maintain your technology</h1>
<p>Visit the <a href="https://get-help-with-tech.education.gov.uk/">Get help with technology</a> service for advice on maintaining your Department for Education devices.<p>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/guidance/get-help-with-technology-during-coronavirus-covid-19" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Get help with technology during coronavirus (COVID-19)</a>
<span class="govuk-caption-m govuk-!-font-size-14">13 July 2021 - Guidance</span>
<br>
<br>
<h1 class="govuk-heading-m"<a id="keep-your-school-safe-online">Keep your school safe online</h1>
<p>You should think about how implementing or changing your use of technology might change your data management responsibilities.<br>
  <br>
To support the guidance below, the National Cyber Security Centre has <a href="https://www.ncsc.gov.uk/section/education-skills/schools">specific information for schools</a>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/government/publications/keeping-children-safe-in-education--2" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Keeping children safe in education</a>
<span class="govuk-caption-m govuk-!-font-size-14">1 September - Statutory guidance</span>
<br>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/government/publications/protection-of-biometric-information-of-children-in-schools" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Protection of children's biometric information in schools</a>
<span class="govuk-caption-m govuk-!-font-size-14">22 March - Guidance</span>
<br>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-3"></div>
<a href="https://gov.uk/guidance/eu-exit-guide-data-protection-for-education-providers" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Data protection for education providers</a>
<span class="govuk-caption-m govuk-!-font-size-14">31 December 2020 - Guidance</span>
<br>
<hr class="govuk-section-break govuk-section-break--visible"><div class="govuk-!-padding-bottom-2"></div>
<a href="https://gov.uk/government/publications/data-protection-toolkit-for-schools" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Data protection: toolkit for schools</a>
<span class="govuk-caption-m govuk-!-font-size-14">14 September 2018 - Guidance</span>
<br>
<a class="govuk-link govuk-!-font-size-19 app-c-back-to-top dont-print" href="#contents-list">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"<hr style="border:2px solid #1d70b8"> </hr>
<p class="govuk-body govuk-!-font-weight-bold">Explore the topic</p>
<a href="https://gov.uk/education/running-and-managing-a-school" class="govuk-link govuk-!-font-size-16 govuk-!-font-weight-bold">Running and managing a school</a>


{% endblock %}
